.activity-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e5f0f3;
}
.activity-form-container h2{
    padding-bottom: 24px;
    text-align: center;
    font-size: 1.8em;
    color: #29ABE2;
}
.activity-form {
    display: flex;
    flex-direction: column;
}

/* .form-group {
    margin-bottom: 15px;
} */

.activity-form-container label {
    color: #585454;
}

.form-group input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
    background-color: white;
    margin-top: 4px;
    color: #585454;
}
#notes{
    background-color: white;
    margin-top: 4px;
    color: #585454;
    font-size: 0.9em;
}
.date-component{
    display: flex;
  flex-direction: column;
}
input[type="date"],
input[type="time"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
    margin-right: 5px;
    background-color: white;
    width: 265px;
    color: #585454;
    margin-top: 4px;
}
.activity-form select{
    cursor: pointer;
}
.date-input{
    display: flex;
    align-items: center;
  justify-content: space-between;
}

textarea {
    resize: vertical;
    min-height: 100px;
    background-color: white;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.submit-button,
.cancel-button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.submit-button {
    background-color: #007bff;
    color: white;
}

.submit-button:hover {
    background-color: #ff840094;
}

.cancel-button {
    background-color: #ddd;
    color: #333;
}

.cancel-button:hover {
    background-color: #ff840094;
}

.error {
    color: red;
    font-size: 0.8em;
    /* margin-top: 5px; */
    margin-bottom: 4px;
    min-height: 1.4em;
}

/* .date-time-group {
    display: flex;
    align-items: center;
} */