.trip-index-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    /* Card background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
    /* background: linear-gradient(136deg, rgb(68 132 206 / 46%), rgb(26 215 192 / 35%), rgb(236 138 46 / 42%), rgb(236, 240, 241)); */

}
.trip-user-icon{
    font-size: xx-large;
  color: #817c7c;
}
.trip-user-name{
    font-size: 1.2em;
  padding-left: 6px;
  color: #575151;
  padding-top: 5px;
}
.trip-info {
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 11px;
}

.trip-info h2 {
    font-size: 1.5em;
    font-weight: 550;
    color: #29abe2;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: left;
}

.trip-info span {
    display: block;
    color: #5f5c5c;
    margin-bottom: 20px;
    display: flex;
  align-items: center;
}

.trip-image {
    width: 200px;
    height: 174px;
    overflow: hidden;
    border-radius: 8px;
}

.trip-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trip-info button,
.trip-info .modal-button {
    background-color: #29ABE2;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}
.trip-user-info{
    display: flex;
    padding: 15px 0px 7px 3px;
}
.location-icon{
    padding-right: 2px;
}
.trip-info button:hover,
.trip-info .modal-button:hover {
    background-color: #FF9800;
}

.trip-info .modal-button {
    background-color: #FF9800;
}

.trip-info .cancel-button {
    background-color: #E0E0E0;
    color: #333;
}
.trip-info svg{
    color: #FF9800;
    padding-right: 7px;
}

.trip-info .cancel-button:hover {
    background-color: #BDBDBD;
}


.trip-info .modal-button {
    background-color: #FF9800;
}

.trip-info .modal-button:hover {
    background-color: #FB8C00;
}

.tripshow-action-dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: #222222d1;
}

.toggle-menu {
    padding: 5px 10px;
    cursor: pointer;
    width: fit-content;
}

.toggle-menu:hover {
    background-color: #f0f0f0;
}

.tripshow-action-dropdown li {
    padding: 5px 10px;
    cursor: pointer;
}

.tripshow-action-dropdown li:hover {
    background-color: #f0f0f0;
}