
.nav-wrapper {
  display: flex;
  height: 60px; 
  justify-content: space-between;
  align-items: center;
  padding: 12px 6% 10px 6%; 
  border-bottom: 1px solid #ddd; 
  position: relative;
  
  background-color: #e5f0f3;
}

.nav-actions {
  display: flex;
  align-items: center; /* Center items vertically */
}

.nav-title {
  color: #29ABE2; /* Primary blue for logo/title */
  font-size: 1.8em; /* Increased font size for title */
  font-weight: 600; /* Semi-bold font weight */
}
.nav-title svg{
  color: #FF9800;
}
.logo {
  text-decoration: none; /* Remove underline from NavLink */
  color: inherit; /* Inherit color from nav-title */
}

.nav-profile-btn {
  background-color: transparent; /* Transparent background for profile button */
  border: none;
  padding: 8px 12px; /* Adjusted padding */
  cursor: pointer;
  color: #333; /* Dark gray text */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-profile-btn button{
  display: flex;
  align-items: center;
  color: #29ABE2;
}

.nav-profile-btn svg{  
  color: #29ABE2;
  font-size: 1.4em;
}

.nav-profile-btn:hover {
  background-color: #f0f0f0; /* Light gray hover background */
}

.new-spot-link {
  align-self: center;
  color: #29ABE2; /* Primary blue for link */
  text-decoration: none; /* Remove underline */
}

.new-spot-link:hover {
    text-decoration: underline;
}

.hidden {
  display: none;
}