
.profile-dropdown {
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  background-color: #e5f0f3; /* White background */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  gap: 8px; /* Reduced gap for a tighter look */
  padding: 12px; /* Reduced padding */
  font-size: 0.9em; /* Slightly smaller font size */
  color: #333; /* Dark gray text */
  position: absolute;
  z-index: 500;
  right: 10px; /* Adjust right spacing */
  top: 45px; /* Adjust top spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  list-style: none; /* Remove default list styles */
  margin-right: 6%;
}

.profile-dropdown li {
  padding: 5px 10px;
  text-align: left; /* Align text to the left */
  color: #787171;
  font-size: 1.1em;
}


.hidden {
  display: none;
}

.logout-button:hover{
  background-color: #ffffffa8; /* Light hover background */
}
/* Style for OpenModalMenuItem */
.profile-dropdown .modal-button {
  background-color: transparent; /* Transparent background */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
}
.profile-dropdown .modal-button li{
  color: #29ABE2; /* Primary blue color */
}


.profile-dropdown .modal-button:hover {
  background-color: #ffffffa8; /* Light hover background */
}